@font-face {
  font-family: "Frank";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/frankbold") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Frank";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/frankregular") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Frank";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/franklight") format("ttf");
  font-display: swap;
}
