@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/robotolight.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/robotomedium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Frank";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/frankbold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Frank";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/frankregular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlowregular.ttf") format("ttf");
  font-display: swap;
}
