.breadcrumb {
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumb__item {
  // display: inline;
  font-size: 16px;
  margin-left: 3px;
}

.breadcrumb li+li:before {
  padding: 0;
  color: $light-color;
  content: "/\00a0";
}

.breadcrumb__link {
  color: $light-color;
  text-decoration: none;
}
