.calendar {
  width: 280px;
  height: 60px;
  border: 2px solid $main-color;
  background-color: transparent;
  padding: 20px 60px;
  box-sizing: border-box;
  outline: none;
  background-image: url('../img/icons/icon-calendar.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   right: 24px;
  //   display: block;
  //   width: 10px;
  //   height: 2px;
  //   transition: all 0.3s ease-out;
  //   background-color: $main-color;
  //   transform: translate(-3px, -50%) rotate(45deg);
  //   z-index: 2;
  // }

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   right: 24px;
  //   display: block;
  //   width: 10px;
  //   height: 2px;
  //   transition: all 0.3s ease-out;
  //   background-color: $main-color;
  //   transform: translate(-3px, -50%) rotate(45deg);
  // }

  // &::after {
  //   transform: translate(3px, -50%) rotate(-45deg);
  // }

  // &:hover {

  //   &::before,
  //   &::after {
  //     background-color: $accent-color;
  //   }
  // }

  &:hover {
    border-color: $accent-color;
    color: $accent-color;
    background-image: url('../img/icons/icon-calendar-color.svg');
  }

  @media (min-width: $tablet-width) {
    width: 468px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 50px 0 0;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    font-weight: 400;
  }
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.flatpickr-input {
  // position: relative;
  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   right: 24px;
  //   display: block;
  //   width: 10px;
  //   height: 2px;
  //   transition: all 0.3s ease-out;
  //   background-color: $main-color;
  //   transform: translate(-3px, -50%) rotate(45deg);
  // }

  // &::after {
  //   transform: translate(3px, -50%) rotate(-45deg);
  // }

  &:hover {

    &::before,
    &::after {
      background-color: $accent-color;
    }
  }
}

.flatpickr-calendar {
  background: #f2f2f2;
  width: 100%;

  .numInputWrapper {
    display: none;
  }

  .flatpickr-weekdays {
    border-bottom: 2px solid #000;
    background: #f2f2f2;
  }

  .flatpickr-rContainer {
    width: 100%;
    padding: 16px 0 0;
  }

  .dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    // gap: 13px;
    padding-top: 8px;
  }

  .flatpickr-weekdaycontainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .flatpickr-weekday {
      font-size: 12px;
      font-family: inherit;
      font-weight: bold;
      color: #373334;
      opacity: 1;
    }
  }

  .flatpickr-days {
    width: 100%;
  }

  .flatpickr-day {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 13px;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
  }

  .flatpickr-day:hover {
    border-color: #373334;
    border-radius: 50%;
    margin: auto auto 13px auto;

    @media (min-width: 450px) {
      width: 70%;
    }
  }

  .flatpickr-day.selected {
    border-color: #373334;
    border-radius: 50%;
    margin: auto auto 13px auto;

    @media (min-width: 450px) {
      width: 70%;
    }
  }

  .flatpickr-day.today {
    border-color: #373334;
    border-radius: 50%;
    margin: auto auto 13px auto;

    @media (min-width: 450px) {
      width: 70%;
    }
  }

  .flatpickr-prev-month {
    display: none;
  }
}

.flatpickr-calendar.open {
  display: block;
  border: 2px solid #373334;
  border-radius: 0;
  width: 100%;
  max-width: 468px;
  padding: 20px;
  background-color: #f2f2f2;
}

.flatpickr-weekday {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  color: $main-color;
}

.flatpickr-calendar.inline {
  display: inline-block;
}

.flatpickr-calendar.static {
  position: absolute;
  display: block;
}

.flatpickr-calendar.wide {
  width: 308px;
}

/* styles for the calendar header */
.flatpickr-calendar .flatpickr-months {
  background: #f2f2f2;
  color: #757575;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Frank', sans-serif;
  position: relative;

  &::before {
    content: '';
    background-image: url('../img/icons/icon-arow-calendar.svg');
    width: 12px;
    height: 12px;
    position: absolute;
    top: 25%;
  }

  &::after {
    content: '';
    background-image: url('../img/icons/icon-arow-calendar.svg');
    width: 12px;
    height: 12px;
    position: absolute;
    top: 25%;
    right: 0;
    transform: rotate(180deg);
  }

  .flatpickr-prev-month {
    opacity: 0;
  }

  .flatpickr-next-month {
    opacity: 0;
  }

  .numInputWrapper {
    display: none;
  }

  .select-sort-mobile {
    display: none;
  }
}

.flatpickr-calendar .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-next-month {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px;
  outline: none;
  cursor: pointer;
  background-image: url('img/icons/icon-arow.svg');
}

.flatpickr-calendar .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-calendar .flatpickr-next-month.flatpickr-next-month {
  padding: 0;
}

/* styles for the calendar body */
.flatpickr-calendar .flatpickr-days {
  background: #f2f2f2;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
