.footer {
  background-color: #ffffff;
  padding: 59px 0 49px;
}

.footer__slogan {
  font-size: 20px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.footer__social {
  border-bottom: 4px solid $main-color;
}

.footer__license {
  font-size: 14px;
  margin: 47px 0 50px
}

.footer__bottom {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}