.license__link {
  margin: 0;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: $main-color;

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: $light-color;
  }
}

.license__text {
  margin: 0;
}
