.news-cards {
  padding: 0;
  margin: 0;
}

.news-cards__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1700px) {
    gap: 50px;
  }
}

.news-cards__item {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }

  &--main {
    background-color: #ffffff;
  }
}
