.pagination {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 66px 0 70px;
}

.pagination__button-num {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  position: relative;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &--current {
    &::after {
      content: '';
      width: 16px;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: -2px;
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.pagination__button-arrow:disabled {
  background-color: $light-color
}

.pagination__numbers {
  display: flex;
  flex-direction: row;
  margin: 0 32px;
}

.pagination__img-arrow {
  color: $main-color;

  &--left {
    transform: rotate(180deg);
    color: $light-color;
  }
}