.social__slogan {
  @media (min-width: $tablet-width) {
    margin: 0 20px 0 0;
  }
}

.social__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;

  &--footer {
    padding-bottom: 52px;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 16px;
  }

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: $light-color;
  }
}
