footer.footer
  .wrapper
    .footer__social.social
      p.footer__slogan Подписывайтесь на нас:
      ul.social__list.social__list--footer
          li.social__item
            a(href='#' aria-label='Ютуб канал')
              svg(width='24' height='24')
                use(xlink:href="img/sprite.svg#icon-yt-footer")
          li.social__item
            a(href='#' aria-label='Фэйсбук')
              svg(width='24' height='24')
                use(xlink:href="img/sprite.svg#icon-fc-footer")
          li.social__item
            a(href='#' aria-label='Аккаунт в контакте')
              svg(width='28' height='28')
                use(xlink:href="img/sprite.svg#icon-vk-footer")
          li.social__item
            a(href='#' aria-label='Аккаунт в одноклассниках')
              svg(width='26' height='24')
                use(xlink:href="img/sprite.svg#icon-ok-footer")
          li.social__item
            a(href='#' aria-label='Инстаграм')
              svg(width='25' height='24')
                use(xlink:href="img/sprite.svg#icon-insta-footer")
    .footer__bottom
      .footer__license.license
        p.license__text © 2021 «Златоустовское телевидение»
        a(href='#' aria-label='Политика конфиденциальности').license__link Политика конфиденциальности
      a(href='#' aria-label='Логотип')
        svg(width='70' height='20').footer__logo
          use(xlink:href="img/sprite.svg#icon-logo")
