header.main-header
  .wrapper
    .main-header__inner
      .main-header__btns
        button(aria-label="Предложить новость").btn.main-header__button Предложить новость
        .main-header__burger
          button(aria-label='Открыть меню').main-header__toggle
            img(src='img/icons/burger.png', alt='Меню' width='22' height='22').main-header__burger-img
      .main-header__interact
        a(href='tel:+73513651711' aria-label='Позвонить по номеру: +73513651711').main-header__contact 8 (3513) 65-17-11
        a(href='#' aria-label='Поиск')
          svg(width='18' height='18')
            use(xlink:href="../img/sprite.svg#icon-search")
    nav.main-nav.main-nav--closed.main-nav--nojs
      ul.main-nav__list.site-list
        li.site-list__item
          a(href='index.html' aria-label='Новости') Новости
        li.site-list__item
          a(href='#' aria-label='Телепроекты') Телепроекты
        li.site-list__item
          a(href='#' aria-label='Реклама') Реклама
        li.site-list__item.site-list__item--after
          a(href='#' aria-label='Онлайн') Онлайн
        li.site-list__item
          a(href='#' aria-label='Программа передач') Программа передач
        li.site-list__item.site-list__item--after
          a(href='#' aria-label='Еще') Еще
      .main-nav__social.social
        p.social__slogan Подписывайтесь на нас:
        ul.social__list
          li.social__item
            a(href='#' aria-label='Ютуб канал')
              svg(width='15' height='16')
                use(xlink:href="img/sprite.svg#icon-yt")
          li.social__item
            a(href='#' aria-label='Фэйсбук')
              svg(width='16' height='16')
                use(xlink:href="img/sprite.svg#icon-fc")
          li.social__item
            a(href='#' aria-label='Аккаунт в контакте')
              svg(width='18' height='18')
                use(xlink:href="img/sprite.svg#icon-vk")
          li.social__item
            a(href='#' aria-label='Аккаунт в одноклассниках')
              svg(width='16' height='16')
                use(xlink:href="img/sprite.svg#icon-ok")
          li.social__item
            a(href='#' aria-label='Инстаграм')
              svg(width='15' height='15')
                use(xlink:href="img/sprite.svg#icon-insta")
