footer.footer
  .wrapper
    .footer__social.social
      p.footer__slogan Подписывайтесь на нас:
      ul.social__list.social__list--footer
          li.social__item
            a(href='#')
              svg(width='24' height='24')
                use(xlink:href="img/sprite.svg#icon-yt-footer")
          li.social__item
            a(href='#')
              svg(width='24' height='24')
                use(xlink:href="img/sprite.svg#icon-fc-footer")
          li.social__item
            a(href='#')
              svg(width='28' height='28')
                use(xlink:href="img/sprite.svg#icon-vk-footer")
          li.social__item
            a(href='#')
              svg(width='24' height='24')
                use(xlink:href="img/sprite.svg#icon-ok-footer")
          li.social__item
            a(href='#')
              svg(width='24' height='24')
                use(xlink:href="img/sprite.svg#icon-insta-footer")
    .footer__bottom
      .footer__license.license
        p.license__text © 2021 «Златоустовское телевидение»
        a(href='#').license__link Политика конфиденциальности
      .footer__logo
        a(href='#')
          svg(width='70' height='20')
            use(xlink:href="img/sprite.svg#icon-logo")
