header.main-header
  .wrapper
    .main-header__inner
      .main-header__btns
        button(aria-label="Предложить новость").btn.main-header__button Предложить новость
        .main-header__burger
          button.main-header__toggle
            img(src='img/icons/burger.png', alt='Меню' width='22' height='22').main-header__burger-img
      .main-header__interact
        a(href='tel:+73513651711').main-header__contact 8 (3513) 65-17-11
        a(href='#')
          svg(width='18' height='18')
            use(xlink:href="img/sprite.svg#icon-search")
    nav.main-nav.main-nav--closed.main-nav--nojs
      ul.main-nav__list.site-list
        li.site-list__item
          a(href='index.html') Новости
        li.site-list__item
          a(href='#') Телепроекты
        li.site-list__item
          a(href='#') Реклама
        li.site-list__item.site-list__item--after
          a(href='#') Онлайн
        li.site-list__item
          a(href='#') Программа передач
        li.site-list__item.site-list__item--after
          a(href='#') Еще
      .main-nav__social.social
        p.social__slogan Подписывайтесь на нас:
        ul.social__list
          li.social__item
            a(href='#')
              svg(width='15' height='16')
                use(xlink:href="img/sprite.svg#icon-yt")
          li.social__item
            a(href='#')
              svg(width='16' height='16')
                use(xlink:href="img/sprite.svg#icon-fc")
          li.social__item
            a(href='#')
              svg(width='18' height='18')
                use(xlink:href="img/sprite.svg#icon-vk")
          li.social__item
            a(href='#')
              svg(width='16' height='16')
                use(xlink:href="img/sprite.svg#icon-ok")
          li.social__item
            a(href='#')
              svg(width='15' height='15')
                use(xlink:href="img/sprite.svg#icon-insta")
