doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./css/style.css" rel="stylesheet")
    title News
  body
    .wrapper
      include header.pug
      main.main-container
        section.main-page
          .main-page__txt
            h1.main-page__title Все новости
            span.main-page__tag Главная / Новости
          .main-page__sorting
            select.main-page__select.main-page__select--calen
              option(value="calendar") 02/02/2021
            select.main-page__select
              option(value="medicine") Медицина
              option(value="society") Общество
              option(value="communal") Коммуналка
              option(value="policy") Политика
              option(value="sport") Спорт
              option(value="development") Вектор развития
          .news-cards
            ul.news-cards__list
              include mixins.pug
              +card('Медицина', '02/02/2021', 'Благодаря поддержке предпринимателей. Златоустовские поликлиники оснастили холодильными установками для хранения вакцины', 'img/image-item1.jpg')
              +card('Медицина', '29/01/2021', 'Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля', 'img/image-item2.jpg')
              +card('Коммуналка', '29/01/2021', 'Осторожно, сосульки! Оттепель на этой неделе привела к тому, что на крышах многих домов образовались опасные ледяные наросты', 'img/image-item3.jpg')
              +card('Политика', '29/01/2021', 'В четыре раза меньше вопросов, чем обычно. В Златоусте прошло первое в 2021-м году Собрание депутатов', 'img/image-item4.jpg')
              +card('Коммуналка', '02/02/2021', 'В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку', 'img/image-item5.jpg')
              +card('Общество', '29/01/2021', 'ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год', 'img/image-item6.jpg')
            +card-main('Медицина', '29/01/2021','Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля', 'Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...', 'img/image-item2.jpg')
            .news-card__slider.slider
              button.slider__button-arrow
                img(src='img/icons/icon-arow-slide-light.svg' width='14' height='12')
              .slider__numbers
                button.slider__button-num
                button.slider__button-num.slider__button-num--current 1
                button.slider__button-num 2
                button.slider__button-num 3
                p.slider__button-num ...
                button.slider__button-num 123
              button.slider__button-arrow
                img(src='img/icons/icon-arow-slide.svg' width='14' height='12')
    include footer
    script(src='js/script.js')












