doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./css/style.css" rel="stylesheet")
    title News
    link(href="https://fonts.cdnfonts.com/css/frank?styles=58842" rel="stylesheet")
    link(rel="preload" href="fonts/frankbold.ttf" as="font" type="font/ttf" crossorigin="anonymous")
    link(rel="preload" href="fonts/frankregular.ttf" as="font" type="font/ttf" crossorigin="anonymous")
    link(rel="preload" href="fonts/franklight.ttf" as="font" type="font/ttf" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    link(rel="icon" href="favicon.ico")
    link(rel="icon" href="img/favicons/icon.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="img/favicons/apple.png")
    link(rel="manifest" href="manifest.webmanifest")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    script(src="https://cdn.jsdelivr.net/npm/flatpickr")
  body
    include _header.pug
    main
      .wrapper
        section.main-page
          .main-page__txt
            h1 Все новости
            nav
              ul.main-page__tag.breadcrumb
                li.breadcrumb__item
                  a(href='#').breadcrumb__link Главная
                li.breadcrumb__item
                  a(href='#').breadcrumb__link Новости
          .main-page__sorting
            input(type="date" placeholder='02/02/2021').calendar
            form
              .select(data-state="")
                .select__title(data-default="Choose") Выбрать рубрику
                .select__content
                  input(id="singleSelect0" class="select__input" type="radio" name="singleSelect" disabled)
                  label(for="singleSelect0" class="select__label") Медицина
                  input(id="singleSelect1" class="select__input" type="radio" name="singleSelect")
                  label(for="singleSelect1" class="select__label") Общество
                  input(id="singleSelect2" class="select__input" type="radio" name="singleSelect")
                  label(for="singleSelect2" class="select__label") Коммуналка
                  input(id="singleSelect3" class="select__input" type="radio" name="singleSelect")
                  label(for="singleSelect3" class="select__label") Политика
                  input(id="singleSelect4" class="select__input" type="radio" name="singleSelect")
                  label(for="singleSelect4" class="select__label") Спорт
                  input(id="singleSelect4" class="select__input" type="radio" name="singleSelect")
                  label(for="singleSelect4" class="select__label") Вектор развития
          .news-cards
            .news-cards__list
              include _mixins.pug
              +cardTags('Медицина', 'Общество', '02/02/2021', 'Благодаря поддержке предпринимателей. Златоустовские поликлиники оснастили холодильными установками для хранения вакцины', 'img/image-item1.jpg')
              +card('Медицина', '29/01/2021', 'Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля', 'img/image-item2.jpg')
              +card('Коммуналка', '29/01/2021', 'Осторожно, сосульки! Оттепель на этой неделе привела к тому, что на крышах многих домов образовались опасные ледяные наросты', 'img/image-item3.jpg')
              +card('Политика', '29/01/2021', 'В четыре раза меньше вопросов, чем обычно. В Златоусте прошло первое в 2021-м году Собрание депутатов', 'img/image-item4.jpg')
              +card('Коммуналка', '02/02/2021', 'В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку', 'img/image-item5.jpg')
              +card('Общество', '29/01/2021', 'ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год', 'img/image-item6.jpg')
            +card-main('Медицина', '29/01/2021','Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля', 'Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...', 'img/image-item2.jpg')
            .news-card__pagination.pagination
              a(href="#" disabled).pagination__button-arrow
                svg(width='14' height='12').pagination__img-arrow.pagination__img-arrow--left
                  use(xlink:href="img/sprite.svg#icon-arow-pagination")
              .pagination__numbers
                a(href="#").pagination__button-num
                a(href="#").pagination__button-num.pagination__button-num--current 1
                a(href="#").pagination__button-num 2
                a(href="#").pagination__button-num 3
                a(href="#").pagination__button-num ...
                a(href="#").pagination__button-num 123
              a(href="#").pagination__button-arrow
                svg(width='14' height='12').pagination__img-arrow
                  use(xlink:href="img/sprite.svg#icon-arow-pagination")
    include _footer.pug
    script(src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js")
    script(src="https://npmcdn.com/flatpickr/dist/l10n/ru.js")
    script(src='js/select.js' defer="defer")
    script(src='js/script.js')
    script(src='js/burger.js')
