doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./css/style.css" rel="stylesheet")
    title New
  body
    .wrapper
      include header.pug
    main
      article.page-new
        .wrapper
          h2.page-new__title Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
          p.page-new__tag Главная / Новости / Медицина
          .container
            .page-new__info
              p.page-new__tag.page-new__tag--color Медицина
              p.page-new__tag.page-new__tag--date 29/01/2021
            .page-new__content
              strong Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят в профильный режим. Приказ Министерство здравоохранения Челябинской области выпустило 27 января.
              br
              small Напомним, перепрофилировать родильный дом решили в связи с ежедневным большим приростом златоустовцев, заболевших ковид-19.  За это время лечение на госпитальной базе прошли свыше 1000 пациентов.
            .video-preview
              img(src='../src/img/main-new.jpg' width='256' height='264' alt='Больница').video-preview__image
              button(aria-label='Воспроизвести видео').video-preview__play
                img(src='../src/img/icons/icon-button-video.svg' width='136' height='136' alt='Плэй видео')
            .page-new__quote
              strong Александр Дорофеев
              small главный врач родильного дома г. Златоуста:
              br
              span.page-new__quote-txt «На сегодняшний день в МПЦ находятся 46 больных. Большая часть из них будет переведена на базу квартала Медик и меньшая часть – на базу долечивания, в район метзавода. В воскресенье к нам приезжает дезостанция для обработки всех помещений. С 1 по 7 число проводится заключительная дезинфекция всего родильного дома. С 8 числа мы начинаем принимать беременных и рожениц нашего города и горнозаводской зоны».
            span Подготовка к возвращению профильной деятельности больниц проводится тщательным образом. Это полная дезинфекция помещений, забор ряда лабораторных анализов. И только после разрешения всех инстанций медицинское учреждение поступает к работе. Златоуст — не единственный город, где в связи со стабилизацией обстановки с коронавирусной инфекцией медицинские объекты возвращаются к плановому приёму пациентов. Решение по сокращению коечных мест для больных ковидом принимается оперативным штабом по борьбе с коронавирусной инфекцией при Правительстве Челябинской области. Оставшиеся ковид-базы перейдут в прежний режим работы при условии улучшения ситуации.
            section.page-new__footer
              .page-new__writer
                span.page-new__author Автор материала
                hr.hr
                p.page-new__name Иван Анатольев
              .page-new__tags
                span.page-new__tag Теги
                hr.hr
                p.page-new__tag-list Роддом / Вакцинация / Коронавирус
              .page-new__share
                span.page-new__txt Поделиться
                hr.hr
                ul.social__list
                  li.social__item
                    img(src='../src/img/icons/icon-yt.svg', alt='Ютуб' width='15' height='16')
                  li.social__item
                    img(src='../src/img/icons/icon-fc.svg', alt='Фэйсбук' width='16' height='16')
                  li.social__item
                    img(src='../src/img/icons/icon-vk.svg', alt='Вконтакте' width='18' height='18')
                  li.social__item
                    img(src='../src/img/icons/icon-ok.svg', alt='Одноклассники' width='16' height='16')
                  li.social__item
                    img(src='../src/img/icons/icon-insta.svg', alt='Инстаграмм' width='15' height='15')
        section.feadback
          .feadback__wrapper
            h2.feadback__title Оставьте свой комментарий
            form(action="")
              .feadback__wrap
                .feadback__details
                  input(type='text' placeholder='Имя').feadback__input
                  input(type='text' placeholder='E-mail').feadback__input
                  .feadback__photo
                    img(src='../src/img/icons/icon-clip.svg')
                    p.feadback__txt Прикрепить фото
                textarea(placeholder='Комментарий').feadback__textarea
                button.btn.feadback__button Отправить
    include footer
    script(src="../src/js/script.js")